.Card{
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    gap: 10px
}
.Card-img{
    width: 542px;
    height: 542px;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.progress {
  background: rgba(13, 85, 208, 0.1);
  text-align: center;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  display: flex;
  height: 31px;
  width: 182px;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px rgb(65, 13, 108);
  border-radius: 100px;
  background: #700c6c;
  height: 30px;
  width: 0;
}
@keyframes load {
  0% {
    width: 0;
  }

  100% {
    width: 70%;
  }
}