.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  background: #4C1D95;
  color: #E5E7EB;
  
  }
  
  .Navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:0px 24px ;
    
  }
  .containerText{ 
  display: flex;
  padding: 10px 0px;
  gap: 15px ;
  justify-content: center;
  align-items: center;
  }
 .containerText a {
  color: #E5E7EB;
  text-decoration: none;
  margin-right:16px
}

.container img{
  width: 30px;
  height: 30px;
  border-radius: 24px;

}
.NavbarContent{
background:#5B21B6;
padding: 0px 8px;
border-radius: 12px;
display: flex;
align-items: center;
width: 166px;
height: 40px;
gap: 10px;

}

nav a{
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
  font-size: 16px;

}
nav a:hover{
color: rgb(148, 56, 133);
cursor: pointer;

}


