.AppCard {
  width:60%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.AppCard p{
  font-size: 26px;
  color: #ffffff;
}
.carousel {
  background: #4c1d95;
  padding: 40px;
  margin: 60px 0;
}

.Containerbotao {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 27%;
}
.slick-prev {
  left: -100px;
}
.slick-next {
  right: -60px;
} 
 .slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 60px;
  line-height: 1;
  opacity: 0.75;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.botao {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 20px;
  padding: 10px;
  background: #5a21b6d3;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  width: 70%;
}
.botao:hover {
  /*opacity: 0.3;*/
  background: #5b21b6;
  transform: scale(1.2);
  /* Equal to scaleX(2) scaleY(2) */
  transition-duration: 0.5s;
  /*transform: scale(0.6);*/
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.cardd {
  border: 1px solid #fff;
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  height: 400px;
  color: #52525b;
  cursor: pointer;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.card-top h1 {
  font-size: 0.9rem;
  margin: 20px;
}

.card-top > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background: black;
}

.card-bottom {
  margin: 10px 20px;
}

.category {
  position: relative;
}
.category::before {
  content: '';
  background: rgb(255, 61, 61);
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  height: 2px;


}