body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  flex-direction: column;
}
.ContainerHeader {
  display: flex;
}
.Content {
  display: flex;
  flex-direction: column;
  width: 621px;
}

.ContainerCard {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 621px;
}
